@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #000000b4;
  --dark-color: #000;
  --white-color: #fff;
  --light-color: #90909198;
  --drop-item-hover: #1f1f1f;
  --drop-item: #1f1f1f;
  --normal-background-color: #454545;
  --red-color: #ff0000;
  --btn-primary: #e3e3e3e2;
  --scroll-background-track: #f1f1f1;
  --scroll-background: #5b626d;
  --scroll-background-hover: #555;
  --tabal-thead: #818181;
  --chart-color: #c5a838;
  --chart-title-card: rgb(27, 27, 27);
}
body {
  color: #ffffff !important;
  font-size: 14px;
  /* background-color: #2d3647 !important; */
  background-color: var(--body-bg) !important;
}

.form_input {
  width: 100%;
  margin-bottom: 33px;
}

.form_input div {
  /* color: #ffffff; */
  color: var(--white-color);
  margin-bottom: 6px;
}

.title_wrap {
  /* color: #ffffff; */
  color: var(--white-color);
}

.input_wrap,
.date_wrapper {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  /* color: #ffffff; */
  color: var(--white-color);
  line-height: 17px;
  /* background-color: #000; */
  background-color: var(--dark-color);
  /* border: 1px solid #90909198; */
  border: 1px solid var(--light-color);
}

.input_wrap:hover,
.input_wrap:focus,
.date_wrapper:hover,
.date_wrapper:focus {
  box-shadow: 0px 0px 7px 0px gray;
  /* color: #ffffff; */
  color: var(--white-color);
}

.input_number .p-inputnumber-input {
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  /* color: #ffffff; */
  color: var(--white-color);
  line-height: 17px;
  /* background-color: #000; */
  background-color: var(--dark-color);
}

.number_right .p-inputnumber-input {
  text-align: right;
}

.input_number .p-inputnumber-input:hover,
.input_number .p-inputnumber-input:focus {
  box-shadow: 0px 0px 7px 0px gray;
  /* color: #ffffff; */
  color: var(--white-color);
}

.input_select {
  margin: 0 !important;
  width: 100%;
  /* height: 41px; */
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  /* border: 1px solid #90909198; */
  /* color: #90909198; */
  border: 1px solid var(--light-color);
  color: var(--light-color);
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.p-dropdown-header {
  background-color: #000;
  background-color: var(--dark-color);
  padding: 10px 5px;
}
.p-dropdown-panel {
  /* border: 1px solid #90909198; */
  border: 1px solid var(--light-color);
}
.p-dropdown-item {
  /* border-top: 1px solid #91909059; */
  border-bottom: 1px solid #91909059;
  border-bottom: 1px solid var(--drop-item);
}
.p-dropdown-filter-container {
  padding: 8px;
  border-radius: 8px;
  background-color: #454545;
}
.p-dropdown-filter {
  background-color: transparent;
}
.p-dropdown-filter:focus {
  box-shadow: none !important;
}
/* .dropdown-filter:focus {
  box-shadow: none !important;
} */
.input_select .p-inputtext {
  padding: 0;
}
.input_select .p-dropdown-item:hover {
  /* background-color: #1f1f1f; */
  background-color: var(--drop-item-hover);
}
.input_select .p-dropdown-item:first-child {
  border-top: 0px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: var(--drop-item);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight:hover {
  background-color: var(--drop-item-hover);
}
.p-dropdown-item:last-child {
  border-bottom: 0px;
}
.input_select .p-dropdown-label {
  font-size: 14px;
}
.input_select .p-placeholder {
  padding: 0 !important;
}
.input_select .p-dropdown-trigger {
  margin: 0 !important;
}
.date_wrapper .p-component,
.p-datepicker-header {
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.p-datepicker-header {
  /* border-bottom: 1px solid #454545; */
  background-color: var(--normal-background-color);
}
.p-datepicker {
  /* background-color: #000; */
  /* border: 1px solid #454545; */
  background-color: var(--dark-color);
  border: 1px solid var(--normal-background-color);
}
.input_select:hover,
.input_select:focus {
  box-shadow: 0px 0px 7px 0px gray;
  /* color: #ffffff; */
  color: var(--white-color);
}
.date_wrapper {
  width: 100%;
}

/* .date_wrapper input {
  padding: 10px;
  background: #000;
  font-size: 14px;
} */

/* .date_wrapper .p-datepicker-trigger {
  background: #000;
  border-radius: 0px 8px 8px 0px;
}

.date_wrapper .p-inputtext:hover,
.date_wrapper .p-inputtext:focus {
  border: none;
  box-shadow: 0px 0px 7px 0px gray;
  color: #ffffff;
} */

.del_modal .confirmation-content {
  /* color: red; */
  color: var(--red-color);
  font-weight: 600;
  font-size: 20px;
}
.del_modal .p-dialog-title {
  font-family: 22px;
}
.common_modal {
  /* background-color: #000 !important; */
  background-color: var(--dark-color) !important;
  box-shadow: 0px 0px 7px 0px gray;
  width: 100% !important;
  max-width: 800px;
  border-radius: 20px;
  overflow: hidden;
}
/* .common_modal .form_container {
  background-color: red;
} */
.common_modal .p-dialog-header {
  /* border-bottom: 1px solid #90909198; */
  border-bottom: 1px solid var(--light-color);
}
.common_modal .p-dialog-header,
.common_modal .p-dialog-content {
  background: transparent !important;
  padding: 15px;
}
/* .common_modal .input_wrap, */
.common_modal input,
.common_modal .input_select,
.main__modal-area .btn_transparent,
.common_modal .btn_transparent {
  /* border: 1px solid #454545; */
  border: 1px solid var(--normal-background-color);
}
.p-dialog-footer {
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.main__modal-area .btn_transparent:hover,
.common_modal .btn_transparent:hover {
  /* background-color: #454545; */
  background-color: var(--normal-background-color);
  box-shadow: none;
}
.main__modal-area .btn_primary {
  /* border: 1px solid #454545; */
  border: 1px solid var(--normal-background-color);
}
.main__modal-area .btn_primary,
.common_modal .btn_primary {
  /* background-color: #454545; */
  background-color: var(--normal-background-color);
  color: #fff;
}
.main__modal-area .btn_primary:hover,
.common_modal .btn_primary:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  /* border: 1px solid #454545; */
  border: 1px solid var(--normal-background-color);
}
.btn_primary {
  display: flex;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  /* color: #ffffff; */
  /* background: #000; */
  color: var(--white-color);
  background-color: var(--dark-color);
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px var(--dark-color);
}
.btn_primary:hover {
  /* color: #e3e3e3e2; */
  color: var(--btn-primary);
  box-shadow: 0px 0px 7px 0px var(--dark-color);
}
/* ========================================================================================= */
.btn_transparent {
  display: flex;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  /* color: #ffffff; */
  color: var(--white-color);
  border-radius: 4px;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 0px 3px 0px var(--dark-color);
}
.btn_transparent:hover {
  /* color: #ffffff; */
  /* background-color: #000; */
  color: var(--white-color);
  background-color: var(--dark-color);
  box-shadow: 0px 0px 6px 0px gray;
}

.modal_datatable .p-datatable-header,
.modal_datatable td {
  padding: 0px;
}

.table_wrapper {
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.table_wrapper .p-paginator {
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.table_wrapper .p-paginator-bottom {
  border-radius: 0px 0px 20px 20px;
}
.menu_facturers_data {
  position: relative;
}
.menu_facturers_data .p-datatable-wrapper {
  overflow: auto;
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 100%;
}
.table_wrapper .p-datatable-wrapper {
  border-radius: 20px 20px 0px 0px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background-color: var(--scroll-background-track);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  /* background: #5b626d; */
  background: var(--scroll-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: var(--scroll-background-hover);
}

.loader_Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_Wrapper .loader {
  height: 80px;
  width: 80px;
  /* color: #ffffff; */
  color: var(--white-color);
}

.amount_content {
  border-radius: 20px;
  margin: 50px;
  box-shadow: 0px 0px 10px 0px gray;
  /* background-color: #000; */
  /* color: #ffffff; */
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 20px;
}
.amount_content .input_number {
  /* border: 1px solid #454545; */
  border: 1px solid var(--normal-background-color);
  border-radius: 8px;
  padding: 10px 12px;
}
.amount_content .input_number .p-inputnumber-input {
  padding: 0;
}
.amount_content .input_number .p-inputnumber-input:hover {
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0) !important;
  outline: none;
}

.amount_content .sub-total-wrapper {
  display: flex;
  margin: 20px;
  font-size: 15.5px;
  justify-content: space-between;
}

.action-icon-size .pi {
  font-size: 2rem;
}
.p-progress-spinner-circle {
  animation: none;
  /* stroke: #fff; */
  stroke: var(--white-color);
}

.personal-details {
  /* border-left: 1px solid #90909198; */
  border-left: 1px solid var(--light-color);
  height: 100% !important;
}
.card-details {
  /* border-left: 1px solid #90909198; */
  border-left: 1px solid var(--light-color);
}
.table_image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.card-image {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.p-datatable-thead {
  border-bottom: 1px solid;
}
.p-datatable-thead tr th {
  /* background-color: #000; */
  /* color: #818181; */
  color: var(--tabal-thead);
  background-color: var(--dark-color);
}
.p-datatable-tbody tr {
  /* border-bottom: 1px solid #90909198; */
  border-bottom: 1px solid var(--light-color);
}
.p-datatable .p-datatable-tbody > tr {
  /* background-color: #000; */
  background-color: var(--dark-color);
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 10px;
}

.header_title {
  padding: 20px 50px;
  /* border-bottom: 1px solid #90909198; */
  border-bottom: 1px solid var(--light-color);
}
.header_title .header_logo {
  font-size: 22px;
}

.header_title .add_btn {
  /* color: #fff !important; */
  /* border: 1px solid #90909198; */
  color: var(--white-color) !important;
  border: 1px solid var(--light-color);
}
.header_title .search-partition {
  gap: 10px;
}

.table_wrapper .p-inputwrapper {
  /* background-color: #000; */
  /* border: 1px solid #90909198 !important; */
  background-color: var(--dark-color);
  border: 1px solid var(--normal-background-color) !important;
}
.p-dropdown-items-wrapper .p-dropdown-items {
  padding: 0 !important;
}
.p-dropdown-panel {
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.p-dialog-mask {
  /* background-color: red; */
  background-color: var(--red-color);
}
.p-dialog-mask::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.main__modal-area {
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.main__modal-area .modal__gap {
  /* background-color: #000; */
  background-color: var(--dark-color);
}
.main__modal-area .modal_title {
  padding: 20px 50px;
  font-size: 22px;
  /* border-bottom: 1px solid #90909198; */
  border-bottom: 1px solid var(--light-color);
}
.main__modal-area .form__container {
  /* padding: 20px; */
  padding: 20px 50px;
}
.main__modal-area .main_modal_add_btn {
  padding-right: 50px;
}
.attendence_modal .p-inputtext.p-component.p-inputtext.p-component {
  background-color: var(--dark-color);
  outline: none;
  border: none;
}
.attendence_modal input.p-inputtext.p-component.p-inputtext.p-component:focus-visible {
  box-shadow: none;
}
.p-icon-field-right {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 8px;
}
.chat_wrapper {
  padding: 30px 50px;
}
/* .chart_title {
  padding-bottom: 10px;
}
.chart_title .value_title {
  font-size: 28px;
  padding-bottom: 8px;
}
.chart_title .total_title {
  font-size: 18px;
  color: var(--white-color);
} */
.chat_header {
  border-bottom: 1px solid var(--light-color) !important;
}
.chat_header_text .header_text {
  color: var(--white-color);
  font-size: 20px;
}
.top_filter_wrap .customers_table_title {
  font-size: 28px;
}
.gradient_common_btn {
  text-decoration: none;
  border-radius: 50px;
  color: var(--white-color) !important;
  border-radius: 16px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid var(--light-color);
  font-size: 18px;
  transition: all 0.5s ease;
  font-weight: 300;
}

/* inear-gradient(to right, #121212, #232526) */

.gradient_common_btn:hover {
  /* background: var(--white-color) !important; */
  background: var(--light-color) !important;
  color: var(--white-color) !important;
  border: 2px solid var(--light-color);
}

.chart_gap .chat-inner-wrap {
  background-color: var(--dark-color);
  box-shadow: 0px 0px 7px 0px gray;
  border: none;
}
.chart_gap .card {
  background-color: var(--dark-color);
}
.card___item {
  padding: 30px 50px;
  padding-bottom: 0;
}
.card___item .card-items:nth-child(n + 5) {
  padding-top: 20px;
}
.card___item .card-items .item-content {
  padding: 30px 15px;
  border-radius: 20px;
  background-color: var(--chart-title-card);
  border: 2px solid var(--light-color);
}
.card___item .card-items .main_title {
  font-size: 22px;
  color: var(--white-color);
  padding-bottom: 10px;
  font-weight: 500;
}
.card___item .card-items .sub_title {
  font-size: 16px;
  color: var(--white-color);
  font-weight: 300;
}
/* canvas {
  background-color: var(--dark-color); 
} */
/*=============================== responsive ===============================*/

@media (max-width: 1279px) {
  .p-datatable .p-datatable-tbody > tr > td {
    border: 0px;
    display: flex;
    width: 100%;
  }
  .p-datatable-thead tr th {
    display: none;
  }
  .p-datatable-thead {
    border-bottom: 0px;
  }
  .table_wrapper {
    margin: 0 20px;
  }
  .header_title {
    padding: 20px 20px !important;
  }
  .product-card {
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 12px;
    padding: 0 !important;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #90909198;
  }
  .card-image {
    padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .card-image img {
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .main__modal-area .main_modal_add_btn {
    padding-right: 20px;
  }
  .main__modal-area .modal_title,
  .main__modal-area .form__container {
    padding: 20px;
  }
  .amount_content {
    margin: 20px;
  }
  .chat_wrapper {
    padding: 30px 20px;
  }
  .card___item {
    padding: 20px;
  }
}
@media (max-width: 1200px) {
  .card___item .card-items .item-content {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .main__modal-area .input_select,
  .date_wrapper,
  .input_wrap {
    padding: 8px;
  }
  .input_select .p-placeholder,
  .date_wrapper .p-component,
  .main__modal-area .input_wrap::placeholder {
    font-size: 12px;
  }
  .amount_content {
    margin: 20px;
    justify-content: center;
  }
  .amount_content .input_number {
    width: 100%;
  }
  .del_modal .confirmation-content {
    font-size: 18px;
  }
  .del_modal .p-dialog-title {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .input_wrap,
  .date_wrapper {
    padding: 8px;
  }
  .header_title .add_btn {
    padding: 8px !important;
    font-size: 12px;
  }
  .table_wrapper .p-inputwrapper {
    height: 40px;
  }
  .table_wrapper .p-inputwrapper .p-dropdown-trigger {
    height: 100%;
  }
  .personal-details .product-description {
    height: 40px !important;
  }
  .table_wrapper .p-inputwrapper .p-dropdown-label {
    font-size: 14px;
    padding: 10px;
  }
  .top_filter_wrap .customers_table_title {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .p-dialog .p-dialog-content {
    padding: 0 20px;
  }
  .common_modal .p-dialog-content {
    padding-top: 10px;
    /* margin-bottom: 10px; */
  }
  .form_input {
    margin-bottom: 15px;
  }
  .form_input .w-6rem {
    margin-bottom: 0;
  }
  .input_box_gap {
    padding: 10px 0;
  }
  .main__modal-area .input_box_gap {
    padding: 8px 0px 0 !important;
    margin-bottom: 0px !important;
  }
  .main__modal-area .modal_title {
    /* padding: 10px; */
    padding: 10px 20px;
    font-size: 18px;
  }
  .modal__btn__group {
    padding: 20px 0;
  }
  .p-dialog-footer {
    padding: 20px;
  }
  /* .chart_title .value_title {
    line-height: 22px;
  } */
  .card___item .card-items:nth-child(n + 4) {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  /* =============== */
  .p-datatable .p-datatable-tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .p-datatable .p-datatable-tbody > tr {
    width: 50%;
  }
  /* ================ */
  .personal-details {
    border-top: 1px solid #90909198;
    border-left: 0px;
  }
  .card-details {
    border-top: 0px;
    border-left: 0px;
  }
  .card-image {
    width: 100%;
  }
  .form_input {
    margin-bottom: 10px;
  }
  .input_box_gap {
    padding: 8px 0;
  }
  .form_input .w-6rem {
    font-size: 14px;
  }
  .common_modal input,
  .common_modal .input_select,
  .common_modal .btn_transparent::placeholder {
    font-size: 14px;
  }
  .p-dialog-footer {
    padding: 10px;
    padding-top: 8px;
  }
  .del_modal .confirmation-content {
    font-size: 16px;
  }
  .del_modal .p-dialog-title {
    font-size: 16px;
  }
  .del_modal .p-dialog-header {
    padding: 10px;
  }
  /* .-button-label */
  .del_modal .p-button-label {
    font-size: 12px;
  }
  .del_modal .pi-times:before,
  .del_modal .pi-check:before {
    font-size: 12px;
    line-height: 20px;
  }
  /* .chart_title .value_title {
    font-size: 23px;
    line-height: 18px;
  }
  .chart_title .total_title {
    font-size: 16px;
  } */
  .chat_header_text .header_text {
    font-size: 18px;
  }
  .card___item .card-items:nth-child(n + 3) {
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  .card-image {
    height: 350px;
  }

  .p-datatable .p-datatable-tbody > tr {
    width: 100%;
  }
  .header_title {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header_title .search-partition {
    padding-top: 30px;
  }
  .p-dialog .p-dialog-content {
    padding: 10px 14px;
  }
  .p-dialog-title {
    font-size: 18px;
  }
  .main_modal_btn_grup_group {
    margin: 0;
    justify-content: center;
  }
  .main_modal_add_btn {
    padding-right: 0 !important;
    width: 100%;
    justify-content: center;
  }
  .del_modal .confirmation-content {
    font-size: 14px;
  }
  .p-dialog-footer {
    padding-top: 0;
  }
  /* .chart_title .value_title {
    font-size: 20px;
  }
  .chart_title .total_title {
    font-size: 14px;
  } */
  /* .chat_wrapper .chart__gap {
    gap: 0;
  } */
  .chat_wrapper .chart_gap {
    margin-top: 0;
  }
  .chat_header_text .header_text {
    font-size: 16px;
  }
  .card___item .card-items:nth-child(n + 2) {
    padding-top: 10px;
  }
  .card___item .card-items .main_title {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .card___item .card-items .sub_title {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .amount_content {
    margin: 10px;
    margin-bottom: 20px;
  }
  .del_modal .confirmation-content {
    font-size: 13px;
  }
  .del_modal .p-dialog-title {
    font-size: 16px;
  }
  .top_filter_wrap .customers_table_title {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .del_modal .confirmation-content {
    flex-direction: column;
    text-align: center;
  }
}
