@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #000000b4;
  --dark-color: #000;
  --white-color: #fff;
  --light-color: #90909198;
  --drop-item-hover: #1f1f1f;
  --drop-item: #1f1f1f;
  --normal-background-color: #454545;
  --red-color: #ff0000;
  --btn-primary: #e3e3e3e2;
  --scroll-background-track: #f1f1f1;
  --scroll-background: #5b626d;
  --scroll-background-hover: #555;
  --tabal-thead: #818181;
  --chart-color: #c5a838;
  --chart-title-card: rgb(27, 27, 27);
}
body {
  color: #ffffff !important;
  font-size: 14px;
  background-color: var(--body-bg) !important;
}

.form_input {
  width: 100%;
  margin-bottom: 33px;
}

.form_input div {
  color: var(--white-color);
  margin-bottom: 6px;
}

.title_wrap {
  color: var(--white-color);
}

.input_wrap,
.date_wrapper {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 17px;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
}

.input_wrap:hover,
.input_wrap:focus,
.date_wrapper:hover,
.date_wrapper:focus {
  box-shadow: 0px 0px 7px 0px gray;
  /* color: #ffffff; */
  color: var(--white-color);
}

.input_number .p-inputnumber-input {
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  /* color: #ffffff; */
  color: var(--white-color);
  line-height: 17px;
  /* background-color: #000; */
  background-color: var(--dark-color);
}

.number_right .p-inputnumber-input {
  text-align: right;
}

.input_number .p-inputnumber-input:hover,
.input_number .p-inputnumber-input:focus {
  box-shadow: 0px 0px 7px 0px gray;
  color: var(--white-color);
}

.input_select {
  margin: 0 !important;
  width: 100%;
  /* height: 41px; */
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  background-color: var(--dark-color);
}
.p-dropdown-header {
  background-color: var(--dark-color);
  padding: 10px 5px;
}
.p-dropdown-panel {
  border: 1px solid var(--light-color);
}
.p-dropdown-item {
  border-bottom: 1px solid var(--drop-item);
}
.p-dropdown-filter-container {
  padding: 8px;
  border-radius: 8px;
  background-color: #454545;
}
.p-dropdown-filter {
  background-color: transparent;
}
.p-dropdown-filter:focus {
  box-shadow: none !important;
}
.input_select .p-inputtext {
  padding: 0;
}
.input_select .p-dropdown-item:hover {
  background-color: var(--drop-item-hover);
}
.input_select .p-dropdown-item:first-child {
  border-top: 0px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: var(--drop-item);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight:hover {
  background-color: var(--drop-item-hover);
}
.p-dropdown-item:last-child {
  border-bottom: 0px;
}
.input_select .p-dropdown-label {
  font-size: 14px;
}
.input_select .p-placeholder {
  padding: 0 !important;
}
.input_select .p-dropdown-trigger {
  margin: 0 !important;
}
.date_wrapper .p-component,
.p-datepicker-header {
  background-color: var(--dark-color);
}
.p-datepicker-header {
  background-color: var(--normal-background-color);
}
.p-datepicker {
  background-color: var(--dark-color);
  border: 1px solid var(--normal-background-color);
}
.input_select:hover,
.input_select:focus {
  box-shadow: 0px 0px 7px 0px gray;
  color: var(--white-color);
}
.date_wrapper {
  width: 100%;
}
.del_modal .confirmation-content {
  color: var(--red-color);
  font-weight: 600;
  font-size: 20px;
}
.del_modal .p-dialog-title {
  font-family: 22px;
}
.common_modal {
  background-color: var(--dark-color) !important;
  box-shadow: 0px 0px 7px 0px gray;
  width: 100% !important;
  max-width: 800px;
  border-radius: 20px;
  overflow: hidden;
}
.common_modal .p-dialog-header {
  border-bottom: 1px solid var(--light-color);
}
.common_modal .p-dialog-header,
.common_modal .p-dialog-content {
  background: transparent !important;
  padding: 15px;
}
/* .common_modal .input_wrap, */
.common_modal input,
.common_modal .input_select,
/* .main_modal_area .btn_transparent, */
.common_modal .btn_transparent {
  border: 1px solid var(--normal-background-color);
}
.main_modal_area .btn_transparent,
.common_modal .btn_transparent {
  border: 2px solid var(--light-color);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  color: var(--white-color);
}
.p-dialog-footer {
  background-color: var(--dark-color);
}
.main_modal_area .btn_transparent:hover,
.common_modal .btn_transparent:hover {
  background-color: var(--normal-background-color);
  box-shadow: none;
}
.main_modal_area .btn_primary,
.common_modal .btn_primary {
  background-color: var(--normal-background-color);
  color: var(--white-color);
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px;
}
.main_modal_area .btn_primary:hover,
.common_modal .btn_primary:hover {
  background-color: transparent;
  color: var(--white-color);
  box-shadow: none;
}
.main_modal_btn_grup_group .btn_transparent {
  padding: 6px 12px;
  border: 2px solid var(--light-color);
  border-radius: 5px;
}
.common_modal .btn_primary,
.main_modal_area .modal_add_btn,
.main_modal_btn_grup_group .gradient_common_btn,
.responsivecard-btn-group .gradient_common_btn,
.common_modal .gradient_common_btn {
  border-radius: 5px;
  padding: 6px 12px !important;
  font-size: 15px;
}

.btn_primary {
  display: flex;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--dark-color);
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px var(--dark-color);
}
.btn_primary:hover {
  color: var(--btn-primary);
  box-shadow: 0px 0px 7px 0px var(--dark-color);
}
.common_modal .btn_transparent {
  background-color: var(--body-bg);
  border: 2px solid var(--light-color);
  border-radius: 5px;
}
.common_modal .btn_transparent:hover {
  background-color: var(--light-color);
}

/* ========================================================================================= */
.btn_transparent {
  display: flex;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  color: var(--white-color);
  border-radius: 4px;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 0px 3px 0px var(--dark-color);
}
.btn_transparent:hover {
  color: var(--white-color);
  background-color: var(--dark-color);
  box-shadow: 0px 0px 6px 0px gray;
}
.modal_datatable .p-datatable-header,
.modal_datatable td {
  padding: 0px;
}
.p-datatable-header .input_wrap {
  border: none;
}
.table_wrapper {
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.table_wrapper .p-paginator {
  background-color: var(--dark-color);
}
.table_wrapper .p-paginator-bottom {
  border-radius: 0px 0px 20px 20px;
}
.p-paginator {
  background-color: var(--dark-color);
}
.menu_facturers_data {
  position: relative;
}
.menu_facturers_data .p-datatable-wrapper {
  overflow: auto;
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 100%;
}
.table_wrapper .p-datatable-wrapper {
  border-radius: 20px 20px 0px 0px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-background-track);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-background-hover);
}
.loader_Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.21);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
}

.loader_Wrapper .loader {
  height: 80px;
  width: 80px;
  color: var(--white-color);
}

.amount_content {
  border-radius: 20px;
  margin: 50px;
  box-shadow: rgb(248, 248, 248) 0px 3px 5px;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 20px;
}
.amount_content .input_number {
  border: 1px solid var(--normal-background-color);
  border-radius: 8px;
  padding: 10px 12px;
}
.amount_content .input_number .p-inputnumber-input {
  padding: 0;
}
.amount_content .input_number .p-inputnumber-input:hover {
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0) !important;
  outline: none;
}

.amount_content .sub-total-wrapper {
  display: flex;
  margin: 20px;
  font-size: 15.5px;
  justify-content: space-between;
}

.action-icon-size .pi {
  font-size: 2rem;
}
.p-progress-spinner-circle {
  animation: none;
  stroke: var(--white-color);
}

.responsive-card-details-1 {
  border-left: 1px solid var(--light-color);
  height: 100% !important;
}
.responsive-card-partition .responsive-card-content {
  font-size: 16px;
  color: var(--white-color);
  margin: 0;
  padding-bottom: 10px;
  font-weight: 300;
}

.responsive-card-partition .responsive-card-content span {
  /* color: red; */
  font-weight: 600;
}
/* ========================================================================================== */
.responsive-card-details-2 {
  border-left: 1px solid var(--light-color);
}
.table_image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.responsive-table-product-card .card-image {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
.responsive-table-product-card .card-image.customers_image {
  height: 150px !important;
}
.p-datatable-thead {
  border-bottom: 1px solid;
}
.p-datatable-thead tr th {
  color: var(--tabal-thead);
  background-color: var(--dark-color);
}
.p-datatable-tbody tr {
  border-bottom: 1px solid var(--light-color);
}
.p-datatable .p-datatable-tbody > tr {
  background-color: var(--dark-color);
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 10px;
}
.header_title {
  padding: 20px 50px;
  border-bottom: 1px solid var(--light-color);
}
.header_title .header_logo {
  font-size: 22px;
  color: var(--white-color);
}
.header_title .add_btn {
  color: var(--white-color) !important;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 5px;
}
.header_title .search-partition {
  gap: 10px;
}
.main_cart_box .p-inputwrapper,
.table_wrapper .p-inputwrapper {
  background-color: var(--dark-color);
  border: 1px solid var(--normal-background-color) !important;
}
.p-dropdown-items-wrapper .p-dropdown-items {
  padding: 0 !important;
}
.p-dropdown-panel {
  background-color: var(--dark-color);
}
.p-dialog-mask {
  background-color: var(--red-color);
}
.p-dialog-mask::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.main_modal_area {
  background-color: var(--dark-color);
}
.main_modal_area .sales_purchase_main_gap {
  background-color: var(--dark-color);
}
.main_modal_area .modal_title {
  padding: 20px 50px;
  font-size: 22px;
  border-bottom: 1px solid var(--light-color);
}
.main_modal_area .form_container {
  padding: 20px 50px;
}
.main_modal_area .main_modal_add_btn {
  padding-right: 50px;
}
.attendence_modal .p-inputtext.p-component.p-inputtext.p-component {
  background-color: var(--dark-color);
  outline: none;
  border: none;
}
.attendence_modal input.p-inputtext.p-component.p-inputtext.p-component:focus-visible {
  box-shadow: none;
}
.p-icon-field-right {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 8px;
}
.chat_wrapper {
  padding: 30px 50px;
}
.chat_header {
  border-bottom: 1px solid var(--light-color) !important;
}
.chat_header_text .header_text {
  color: var(--white-color);
  font-size: 20px;
}
.top_filter_wrap .customers_table_title {
  font-size: 28px;
}
.gradient_common_btn {
  text-decoration: none;
  border-radius: 50px;
  color: var(--white-color) !important;
  border-radius: 16px;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid var(--light-color);
  font-size: 18px;
  transition: all 0.5s ease;
  font-weight: 300;
}
.gradient_common_btn:hover {
  background: var(--light-color) !important;
  color: var(--white-color) !important;
  border: 2px solid var(--light-color);
}
.chart_gap .chat-inner-wrap {
  background-color: var(--dark-color);
  box-shadow: 0px 0px 7px 0px gray;
  border: none;
}
.chart_gap .card {
  background-color: var(--dark-color);
}
.reports_title_card_item {
  padding: 30px 50px;
  padding-bottom: 0;
}
.reports_title_card_item .card-items {
  cursor: pointer;
}
.reports_title_card_item .card-items:nth-child(n + 5) {
  padding-top: 20px;
}
.reports_title_card_item .card-items .item-content {
  padding: 30px 15px;
  border-radius: 20px;
  background-color: var(--chart-title-card);
  border: 2px solid var(--light-color);
}
.reports_title_card_item .card-items .main_title {
  font-size: 22px;
  color: var(--white-color);
  padding-bottom: 10px;
  font-weight: 500;
}
.reports_title_card_item .card-items .sub_title {
  font-size: 16px;
  color: var(--white-color);
  font-weight: 300;
}
.product_select_content {
  background-color: var(--dark-color);
}
.main_cart_box {
  border: 1px solid var(--white-color);
  background: var(--dark-color) !important;
}
.main_cart_box .p-datatable-header {
  background-color: transparent;
  border: 1px solid var(--light-color);
  margin-bottom: 15px;
  border-radius: 15px;
}
.product_add,
.products_name,
.customer_name {
  color: var(--white-color);
  font-size: 20px;
}
.product_add {
  background-color: var(--dark-color);
  padding-bottom: 15px;
  font-size: 22px;
}
.product_add_content {
  background-color: var(--dark-color) !important;
  padding: 10px 0;
  color: var(--white-color) !important;
  border: 1px solid var(--light-color) !important;
  border-radius: 15px !important;
  overflow: hidden;
}
.product_add_content .p-inputnumber-input {
  border: 1px solid var(--light-color);
}
.bill_partition {
  padding-bottom: 10px;
}
.details_container {
  padding: 0px 50px 20px 50px !important;
}
.product_add_content {
  padding: 30px 50px;
}
.cash_option {
  border: 1px solid var(--light-color);
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 16px !important;
}
.product_save_btm {
  padding-top: 20px;
}
.product_save_btm .save-btn {
  border: 2px solid var(--light-color);
  border-radius: 5px;
  padding: 8px 12px;
  overflow: hidden;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 14px;
}

.option_text .p-dropdown-label {
  font-size: 16px;
}
.p-inputwrapper-filled {
  background-color: var(--dark-color) !important;
}
.product_card {
  background-color: var(--dark-color) !important;
}
.product_card .p-paginator-bottom {
  background-color: var(--dark-color);
}
.product_card .p-accordion-header-link {
  background-color: var(--light-color);
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}
.product_card .p-accordion-content {
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 0px 0px 15px 15px;
}
.select_product_image {
  height: 100px;
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
}
.select_product_content {
  padding: 20px;
  font-size: 16px;
}
.pro_card_gap {
  padding: 15px 0;
}
.pro_card_gap .pi-plus-circle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.responsive-card-details-1,
.responsive-card-details-2 {
  padding: 10px;
}
.delete_btn {
  margin-left: 15px;
}
.delete_btn,
.edit_btn {
  padding: 5px 15px !important;
}
.select_add_btn_area {
  padding-right: 30px;
}
.select_add_btn_area .select_add_btn {
  padding: 8px 12px !important;
  border-radius: 5px !important;
  font-size: 14px !important;
}
.main_modal_btn_grup_group .gradient_common_btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid var(--light-color);
  font-size: 14px;
}
.select_btn,
.add_card_add_btn,
.add_card_remove_btn,
.remove_btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid var(--light-color);
  font-size: 14px;
  width: fit-content !important;
}
.modal_input {
  background-color: var(--dark-color);
}
.table_data_wrap {
  column-count: 2;
  column-rule: solid 1px var(--light-color);
}
.customer_list_table .responsive-table-product-card {
  border: 1px solid var(--light-color);
  border-radius: 15px;
  align-items: start !important;
}
.purchase-list_card .responsive-table-product-card .responsive-card-partition .responsive-card-details-first {
  padding: 10px;
}
.purchase-list_card .responsive-table-product-card .responsive-card-partition .responsive-card-details-first,
.customer_list_table .responsive-table-product-card .responsive-card-details-1 {
  border: none;
}
.sales-list-responsive-table-product-card .responsive-card-details-1,
.manufacturer-responsive-table-product-card .responsive-card-details-1 {
  border: none;
}
.list_qty_input_fild,
.modal_input input {
  /* max-width: 350px; */
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: var(--drop-item);
  border: 2px solid var(--light-color);
}

.image_modal {
  background-color: transparent;
  max-width: 1050px;
  max-height: 650px;
  box-shadow: none;
}
.image_modal .p-dialog-content,
.image_modal .p-dialog-header {
  background-color: transparent;
}
.table_card_content {
  display: none;
  margin-top: 20px;
}
.table_data_image {
  height: 80px;
  width: 80px;
  border-radius: 15px;
  overflow: hidden;
}
/*================================== responsive *==================================*/
@media (max-width: 1440px) {
  .image_modal {
    max-width: 900px;
    max-height: 600px;
  }
}

@media (max-width: 1279px) {
  .table_card_content {
    display: block;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    border: 0px;
    display: flex;
    width: 100%;
  }
  .p-datatable-thead tr th {
    display: none;
  }
  .p-datatable-thead {
    border-bottom: 0px;
  }
  .table_wrapper {
    margin: 0 20px;
  }
  .header_title {
    padding: 20px 20px !important;
  }
  .responsive-table-product-card {
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 12px;
    padding: 0 !important;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #90909198;
  }
  .responsive-table-product-card .card-image {
    padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .responsive-table-product-card .card-image img {
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .main_modal_area .main_modal_add_btn {
    padding-right: 20px;
  }
  .main_modal_area .modal_title,
  .main_modal_area .form_container {
    padding: 20px;
  }
  .amount_content {
    margin: 20px;
  }
  .chat_wrapper {
    padding: 30px 20px;
  }
  .reports_title_card_item {
    padding: 20px;
  }
  .p-datatable-tbody tr {
    border-bottom: none;
  }

  .product-description {
    max-width: 300px !important;
    width: 100%;
  }
  .purchase-list_card .responsive-table-product-card .responsive-card-partition .product-description {
    max-width: 200px !important;
    width: 100%;
  }
  .list_qty_input_fild,
  .modal_input input {
    max-width: 250px;
    padding: 8px 12px;
  }
  .image_modal {
    max-width: 700px;
    max-height: 500px;
  }
}
@media (max-width: 1200px) {
  .reports_title_card_item .card-items .item-content {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .main_modal_area .input_select,
  .date_wrapper,
  .input_wrap {
    padding: 8px;
  }
  .input_select .p-placeholder,
  .date_wrapper .p-component,
  .main_modal_area .input_wrap::placeholder {
    font-size: 12px;
  }
  .amount_content {
    margin: 20px;
    justify-content: center;
  }
  .amount_content .input_number {
    width: 100%;
  }
  .del_modal .confirmation-content {
    font-size: 18px;
  }
  .del_modal .p-dialog-title {
    font-size: 20px;
  }
  .details_container {
    padding: 20px !important;
  }
}
@media (max-width: 1024px) {
  .product_add_content {
    padding: 15px;
  }
  .product_card .p-accordion-header-link {
    font-size: 16px;
  }
  .select_product_content {
    font-size: 14px;
  }
  .select_product_image {
    height: 80px;
    width: 80px;
  }
  .pro_card_gap .pi-plus-circle:before {
    font-size: 25px;
  }
  .header_title .add_btn {
    padding: 7px !important;
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .input_wrap,
  .date_wrapper {
    padding: 8px;
  }
  /* .header_title .add_btn {
    padding: 8px !important;
    font-size: 12px;
  } */
  .main_cart_box .p-inputwrapper,
  .table_wrapper .p-inputwrapper {
    height: 40px;
  }
  .main_cart_box .p-inputwrapper .p-dropdown-trigger,
  .table_wrapper .p-inputwrapper .p-dropdown-trigger {
    height: 100%;
  }
  .responsive-card-details-1 .personal_details_description {
    height: 40px !important;
  }
  .main_cart_box .p-inputwrapper .p-dropdown-label,
  .table_wrapper .p-inputwrapper .p-dropdown-label {
    font-size: 14px;
    padding: 10px;
  }
  .top_filter_wrap .customers_table_title {
    font-size: 22px;
  }
  .select_btn,
  .add_card_add_btn,
  .add_card_remove_btn,
  .remove_btn {
    padding: 6px 10px;
    font-size: 12px;
  }
  .common_modal .gradient_common_btn,
  .common_modal .btn_transparent {
    width: auto;
  }
  .select_add_btn_area .select_add_btn,
  .common_modal .gradient_common_btn,
  .common_modal .btn_transparent,
  .product_save_btm .save-btn,
  .header_title .add_btn,
  .common_modal .btn_primary,
  .main_modal_area .modal_add_btn,
  .main_modal_btn_grup_group .gradient_common_btn,
  .responsivecard-btn-group .gradient_common_btn,
  .common_modal .gradient_common_btn {
    padding: 6px 10px !important;
    font-size: 13px !important;
  }
  .header_title .add_btn {
    width: auto;
  }
  /* .select_add_btn_area .select_add_btn {
    padding: 6px 10px !important;
    font-size: 14px !important;
  } */
}
@media (max-width: 991px) {
  .p-dialog .p-dialog-content {
    padding: 0 20px;
  }
  .common_modal .p-dialog-content {
    padding-top: 10px;
    /* margin-bottom: 10px; */
  }
  .form_input {
    margin-bottom: 15px;
  }
  .form_input .w-6rem {
    margin-bottom: 0;
  }
  .input_box_gap {
    padding: 10px 0;
  }
  .main_modal_area .input_box_gap {
    padding: 8px 0px 0 !important;
    margin-bottom: 0px !important;
  }
  .main_modal_area .modal_title {
    /* padding: 10px; */
    padding: 10px 20px;
    font-size: 18px;
  }
  .modal_footer_gap_btn_group {
    padding: 20px 0;
  }
  .p-dialog-footer {
    padding: 20px;
  }
  .reports_title_card_item .card-items:nth-child(n + 4) {
    padding-top: 20px;
  }
  .common_modal .modal_btn_group {
    padding-bottom: 10px;
  }
  .image_modal {
    max-width: 700px;
    max-height: 450px;
  }
  .image_modal .p-dialog-header {
    padding: 10px 20px;
  }
}
@media (max-width: 912px) {
  .list_qty_input_fild,
  .modal_input input {
    max-width: 150px;
  }
}
@media (min-width: 768px) {
  .responsive-card-details-1,
  .responsive-card-details-2 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* =============== */
  .p-datatable .p-datatable-tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .p-datatable .p-datatable-tbody > tr {
    width: 50%;
  }
  /* ================ */
  .responsive-card-details-1 {
    border-top: 1px solid #90909198;
    border-left: 0px;
    padding-bottom: 0 !important;
  }
  .responsive-card-details-2 {
    border-top: 0px;
    border-left: 0px;
    padding-top: 0 !important;
  }
  .responsive-table-product-card .card-image {
    width: 100%;
  }
  .form_input {
    margin-bottom: 10px;
  }
  .input_box_gap {
    padding: 8px 0;
  }
  .form_input .w-6rem {
    font-size: 14px;
  }
  .common_modal input,
  .common_modal .input_select,
  .common_modal .btn_transparent::placeholder {
    font-size: 14px;
  }
  .p-dialog-footer {
    padding: 10px;
    padding-top: 8px;
  }
  .del_modal .confirmation-content {
    font-size: 16px;
  }
  .del_modal .p-dialog-title {
    font-size: 16px;
  }
  .del_modal .p-dialog-header {
    padding: 10px;
  }
  /* .-button-label */
  .del_modal .p-button-label {
    font-size: 12px;
  }
  .del_modal .pi-times:before,
  .del_modal .pi-check:before {
    font-size: 12px;
    line-height: 20px;
  }
  /* .chart_title .value_title {
    font-size: 23px;
    line-height: 18px;
  }
  .chart_title .total_title {
    font-size: 16px;
  } */
  .chat_header_text .header_text {
    font-size: 18px;
  }
  .reports_title_card_item .card-items:nth-child(n + 3) {
    padding-top: 15px;
  }
  .responsive-card-details-1 {
    padding-bottom: 0px;
  }
  .responsive-card-details-2 {
    padding-top: 0;
  }
  .table_data_wrap {
    column-count: 1 !important;
    /* column-rule-color: red; */
    column-rule: none;
  }
  .manufacturer-responsive-table-product-card .responsive-card-details-1 {
    border-top: 0;
  }
  .customer_list_table .responsive-card-partition {
    flex-direction: column;
  }
  .purchase-list_card .responsive-table-product-card .responsive-card-partition .responsive-card-details-first {
    padding-bottom: 0;
  }
  .purchase-list_card .responsive-table-product-card .responsive-card-partition .responsive-card-details-1 {
    border-top: 0;
    padding-top: 0;
  }
  .responsive-table-product-card-wreaper {
    flex-direction: column !important;
    justify-content: baseline;
  }
  .select_add_btn_area {
    padding-right: 0;
    padding-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .responsive-table-product-card .card-image {
    height: 350px;
  }

  .p-datatable .p-datatable-tbody > tr {
    width: 100%;
  }
  .header_title {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header_title .search-partition {
    padding-top: 30px;
  }
  .p-dialog .p-dialog-content {
    padding: 10px 14px;
  }
  .p-dialog-title {
    font-size: 18px;
  }
  .main_modal_btn_grup_group {
    margin: 0;
    justify-content: center;
  }
  .main_modal_add_btn {
    padding-right: 0 !important;
    width: 100%;
    justify-content: center;
  }
  .del_modal .confirmation-content {
    font-size: 14px;
  }
  .p-dialog-footer {
    padding-top: 0;
  }
  .chat_wrapper .chart_gap {
    margin-top: 0;
  }
  .chat_header_text .header_text {
    font-size: 16px;
  }
  .reports_title_card_item .card-items:nth-child(n + 2) {
    padding-top: 10px;
  }
  .reports_title_card_item .card-items .main_title {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .reports_title_card_item .card-items .sub_title {
    font-size: 14px;
  }
  .product_save_btm .save-btn {
    font-size: 14px;
  }

  .option_text .p-dropdown-label {
    font-size: 14px !important;
  }
  .product_add {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .amount_content {
    margin: 10px;
    margin-bottom: 20px;
  }
  .del_modal .confirmation-content {
    font-size: 13px;
  }
  .del_modal .p-dialog-title {
    font-size: 16px;
  }
  .top_filter_wrap .customers_table_title {
    font-size: 20px;
  }
  .select_product_image {
    height: 60px;
    width: 60px;
  }
  .responsive-table-product-card .card-image {
    height: 200px;
    width: auto;
  }
}
@media (max-width: 400px) {
  .del_modal .confirmation-content {
    flex-direction: column;
    text-align: center;
  }
}
