@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff !important;
  font-size: 14px;
  /* background-color: #2d3647 !important; */
  background-color: #000000b4 !important;
}

.form_input {
  width: 100%;
  margin-bottom: 33px;
}

.form_input div {
  color: #ffffff;
  margin-bottom: 6px;
}

.title_wrap {
  color: #ffffff;
}

.input_wrap,
.date_wrapper {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 17px;
  background-color: #000;
  border: 1px solid #90909198;
}

.input_wrap:hover,
.input_wrap:focus,
.date_wrapper:hover,
.date_wrapper:focus {
  box-shadow: 0px 0px 7px 0px gray;
  color: #ffffff;
}

.input_number .p-inputnumber-input {
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 17px;
  background-color: #000;
}

.number_right .p-inputnumber-input {
  text-align: right;
}

.input_number .p-inputnumber-input:hover,
.input_number .p-inputnumber-input:focus {
  box-shadow: 0px 0px 7px 0px gray;
  color: #ffffff;
}

.input_select {
  margin: 0 !important;
  width: 100%;
  /* height: 41px; */
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 1px solid #90909198;
  color: #90909198;
  background-color: #000;
}
.p-dropdown-header {
  background-color: #000;
  padding: 10px 5px;
}
.p-dropdown-panel {
  border: 1px solid #90909198;
}
.p-dropdown-item {
  /* border-top: 1px solid #91909059; */
  border-bottom: 1px solid #91909059;
}
.p-dropdown-filter-container {
  padding: 8px;
  border-radius: 8px;
  background-color: #454545;
}
.p-dropdown-filter {
  background-color: transparent;
}
.p-dropdown-filter:focus {
  box-shadow: none !important;
}
/* .dropdown-filter:focus {
  box-shadow: none !important;
} */
.input_select .p-inputtext {
  padding: 0;
}
.input_select .p-dropdown-item:hover {
  background-color: #1f1f1f;
}
.input_select .p-dropdown-item:first-child {
  border-top: 0px;
}
.p-dropdown-item:last-child {
  border-bottom: 0px;
}
.input_select .p-dropdown-label {
  font-size: 14px;
}
.input_select .p-placeholder {
  padding: 0 !important;
}
.input_select .p-dropdown-trigger {
  margin: 0 !important;
}
.date_wrapper .p-component,
.p-datepicker-header {
  background-color: #000;
}
.p-datepicker-header {
  border-bottom: 1px solid #454545;
}
.p-datepicker {
  background-color: #000;
  border: 1px solid #454545;
}
.input_select:hover,
.input_select:focus {
  box-shadow: 0px 0px 7px 0px gray;
  color: #ffffff;
}

.date_wrapper {
  width: 100%;
}

/* .date_wrapper input {
  padding: 10px;
  background: #000;
  font-size: 14px;
} */

/* .date_wrapper .p-datepicker-trigger {
  background: #000;
  border-radius: 0px 8px 8px 0px;
}

.date_wrapper .p-inputtext:hover,
.date_wrapper .p-inputtext:focus {
  border: none;
  box-shadow: 0px 0px 7px 0px gray;
  color: #ffffff;
} */

.del_modal .confirmation-content {
  color: red;
  font-weight: 600;
  font-size: 20px;
}
.del_modal .p-dialog-title {
  font-family: 22px;
}
.common_modal {
  background-color: #000 !important;
  box-shadow: 0px 0px 7px 0px gray;
  width: 100% !important;
  max-width: 800px;
  border-radius: 20px;
  overflow: hidden;
}
/* .common_modal .form_container {
  background-color: red;
} */
.common_modal .p-dialog-header {
  border-bottom: 1px solid #90909198;
}
.common_modal .p-dialog-header,
.common_modal .p-dialog-content {
  background: transparent !important;
  padding: 15px;
}
/* .common_modal .input_wrap, */
.common_modal input,
.common_modal .input_select,
.main__modal-area .btn_transparent,
.common_modal .btn_transparent {
  border: 1px solid #454545;
}
.p-dialog-footer {
  background-color: #000;
}
.main__modal-area .btn_transparent:hover,
.common_modal .btn_transparent:hover {
  background-color: #454545;
  box-shadow: none;
}
.main__modal-area .btn_primary {
  border: 1px solid #454545;
}
.main__modal-area .btn_primary,
.common_modal .btn_primary {
  background-color: #454545;
  color: #fff;
}
.main__modal-area .btn_primary:hover,
.common_modal .btn_primary:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  border: 1px solid #454545;
}
.btn_primary {
  display: flex;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  color: #ffffff;
  background: #000;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px #000;
}
.btn_primary:hover {
  color: #e3e3e3e2;
  box-shadow: 0px 0px 7px 0px gray;
}
.btn_transparent {
  display: flex;
  padding: 8px;
  width: 100px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 4px;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 0px 3px 0px #000;
}
.btn_transparent:hover {
  color: #ffffff;
  background-color: #000;
  box-shadow: 0px 0px 6px 0px gray;
}

.modal_datatable .p-datatable-header,
.modal_datatable td {
  padding: 0px;
}

.table_wrapper {
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.table_wrapper .p-paginator {
  background-color: #000;
}
.table_wrapper .p-paginator-bottom {
  border-radius: 0px 0px 20px 20px;
}
.menu_facturers_data {
  position: relative;
}
.menu_facturers_data .p-datatable-wrapper {
  overflow: auto;
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 100%;
}
.table_wrapper .p-datatable-wrapper {
  border-radius: 20px 20px 0px 0px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #5b626d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader_Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_Wrapper .loader {
  height: 80px;
  width: 80px;
  color: #ffffff;
}

.amount_content {
  border-radius: 20px;
  margin: 50px;
  box-shadow: 0px 0px 10px 0px gray;
  /* background-color: #1f2937; */
  background-color: #000;
  color: #ffffff;
  padding: 20px;
}
.amount_content .input_number {
  border: 1px solid #454545;
  border-radius: 8px;
  padding: 10px 12px;
}
.amount_content .input_number .p-inputnumber-input {
  padding: 0;
}
.amount_content .input_number .p-inputnumber-input:hover {
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0) !important;
  outline: none;
}

.amount_content .sub-total-wrapper {
  display: flex;
  margin: 20px;
  font-size: 15.5px;
  justify-content: space-between;
}

.action-icon-size .pi {
  font-size: 2rem;
}
.p-progress-spinner-circle {
  animation: none;
  stroke: #fff;
}

.personal-details {
  /* border-left: 1px solid #fff; */
  border-left: 1px solid #90909198;
  height: 100% !important;
}
.card-details {
  /* border-left: 1px solid #fff; */
  border-left: 1px solid #90909198;
}
.table_image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.card-image {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.p-datatable-thead {
  border-bottom: 1px solid;
}
.p-datatable-thead tr th {
  background-color: #000;
  color: #818181;
}
.p-datatable-tbody tr {
  border-bottom: 1px solid #90909198;
}
.p-datatable .p-datatable-tbody > tr {
  background-color: #000;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 10px;
}

.header_title {
  padding: 20px 50px;
  border-bottom: 1px solid #90909198;
}
.header_title .header_logo {
  font-size: 22px;
}

.header_title .add_btn {
  color: #fff !important;
  border: 1px solid #90909198;
  /* color: #90909198 !important; */
}
.header_title .search-partition {
  gap: 10px;
}

.table_wrapper .p-inputwrapper {
  background-color: #000;
  border: 1px solid #90909198 !important;
}
.p-dropdown-items-wrapper .p-dropdown-items {
  padding: 0 !important;
}
.p-dropdown-panel {
  background-color: #000;
}
.p-dialog-mask {
  background-color: red;
}
.p-dialog-mask::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.main__modal-area {
  background-color: #000;
}
.main__modal-area .modal__gap {
  background-color: #000;
}
.main__modal-area .modal_title {
  padding: 20px 50px;
  font-size: 22px;
  /* padding: 20px; */
  border-bottom: 1px solid #90909198;
}
.main__modal-area .form__container {
  /* padding: 20px; */
  padding: 20px 50px;
}

.main__modal-area .main_modal_add_btn {
  padding-right: 50px;
}
/* .p-inputtext.p-component.p-inputtext.p-component {
  background-color: #000;
  outline: none;
  border: none;
}
input.p-inputtext.p-component.p-inputtext.p-component:focus-visible {
  box-shadow: none;
} */
.attendence_modal .p-inputtext.p-component.p-inputtext.p-component {
  background-color: #000;
  outline: none;
  border: none;
}
.attendence_modal input.p-inputtext.p-component.p-inputtext.p-component:focus-visible {
  box-shadow: none;
}
.p-icon-field-right {
  background-color: #000;
  border: 1px solid #90909198;
  border-radius: 8px;
}
/* .report_box {
  padding-top: 50px;
} */
.chat_wrapper {
  padding: 30px 50px;
}
.chart_title {
  padding-bottom: 10px;
}
.chart_title .value_title {
  font-size: 28px;
  padding-bottom: 8px;
}
.chart_title .total_title {
  font-size: 18px;
  color: #c5a838;
}
.top_filter_wrap .customers_table_title {
  font-size: 28px;
}

/*=============================== responsive ===============================*/

@media (max-width: 1279px) {
  .p-datatable .p-datatable-tbody > tr > td {
    border: 0px;
    display: flex;
    width: 100%;
  }
  .p-datatable-thead tr th {
    display: none;
  }
  .p-datatable-thead {
    border-bottom: 0px;
  }
  .table_wrapper {
    margin: 0 20px;
  }
  .header_title {
    padding: 20px 20px !important;
  }
  .product-card {
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 12px;
    padding: 0 !important;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #90909198;
  }
  .card-image {
    padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .card-image img {
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  .main__modal-area .main_modal_add_btn {
    padding-right: 20px;
  }
  .main__modal-area .modal_title,
  .main__modal-area .form__container {
    padding: 20px;
  }
  .amount_content {
    margin: 20px;
  }
}

@media (max-width: 1024px) {
  .main__modal-area .input_select,
  .date_wrapper,
  .input_wrap {
    padding: 8px;
  }
  .input_select .p-placeholder,
  .date_wrapper .p-component,
  .main__modal-area .input_wrap::placeholder {
    font-size: 12px;
  }
  .amount_content {
    margin: 20px;
    justify-content: center;
  }
  .amount_content .input_number {
    width: 100%;
  }
  .del_modal .confirmation-content {
    font-size: 18px;
  }
  .del_modal .p-dialog-title {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .input_wrap,
  .date_wrapper {
    padding: 8px;
  }
  .header_title .add_btn {
    padding: 8px !important;
    font-size: 12px;
  }
  .table_wrapper .p-inputwrapper {
    height: 40px;
  }
  .table_wrapper .p-inputwrapper .p-dropdown-trigger {
    height: 100%;
  }
  .personal-details .product-description {
    height: 40px !important;
  }
  .table_wrapper .p-inputwrapper .p-dropdown-label {
    font-size: 14px;
    padding: 10px;
  }
  .top_filter_wrap .customers_table_title {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .p-dialog .p-dialog-content {
    padding: 0 20px;
  }
  .common_modal .p-dialog-content {
    padding-top: 10px;
    /* margin-bottom: 10px; */
  }
  .form_input {
    margin-bottom: 15px;
  }
  .form_input .w-6rem {
    margin-bottom: 0;
  }
  .input_box_gap {
    padding: 10px 0;
  }
  .main__modal-area .input_box_gap {
    padding: 8px 0px 0 !important;
    margin-bottom: 0px !important;
  }
  .main__modal-area .modal_title {
    /* padding: 10px; */
    padding: 10px 20px;
    font-size: 18px;
  }
  .modal__btn__group {
    padding: 20px 0;
  }
  .p-dialog-footer {
    padding: 20px;
  }
  .chart_title .value_title {
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  /* =============== */
  .p-datatable .p-datatable-tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .p-datatable .p-datatable-tbody > tr {
    width: 50%;
  }
  /* ================ */
  .personal-details {
    border-top: 1px solid #90909198;
    border-left: 0px;
  }
  .card-details {
    border-top: 0px;
    border-left: 0px;
  }
  .card-image {
    width: 100%;
  }
  .form_input {
    margin-bottom: 10px;
  }
  .input_box_gap {
    padding: 8px 0;
  }
  /* .common_modal .p-dialog-header,
  .common_modal .p-dialog-content {
    padding: 15px;
  } */
  .form_input .w-6rem {
    font-size: 14px;
  }
  .common_modal input,
  .common_modal .input_select,
  .common_modal .btn_transparent::placeholder {
    font-size: 14px;
  }
  .p-dialog-footer {
    padding: 10px;
    padding-top: 8px;
  }
  .del_modal .confirmation-content {
    font-size: 16px;
  }
  .del_modal .p-dialog-title {
    font-size: 16px;
  }
  .del_modal .p-dialog-header {
    padding: 10px;
  }
  /* .-button-label */
  .del_modal .p-button-label {
    font-size: 12px;
  }
  .del_modal .pi-times:before,
  .del_modal .pi-check:before {
    font-size: 12px;
    line-height: 20px;
  }
  .chart_title .value_title {
    font-size: 23px;
    line-height: 18px;
  }
  .chart_title .total_title {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .card-image {
    height: 350px;
  }

  .p-datatable .p-datatable-tbody > tr {
    width: 100%;
  }
  .header_title {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header_title .search-partition {
    padding-top: 30px;
  }
  .p-dialog .p-dialog-content {
    padding: 10px 14px;
  }
  .p-dialog-title {
    font-size: 18px;
  }
  .main_modal_btn_grup_group {
    margin: 0;
    justify-content: center;
  }
  .main_modal_add_btn {
    padding-right: 0 !important;
    width: 100%;
    justify-content: center;
  }
  .del_modal .confirmation-content {
    font-size: 14px;
  }
  .p-dialog-footer {
    padding-top: 0;
  }
  .chart_title .value_title {
    font-size: 20px;
  }
  .chart_title .total_title {
    font-size: 14px;
  }
  /* .chat_wrapper .chart__gap {
    gap: 0;
  } */
  .chat_wrapper .chart_gap {
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .amount_content {
    margin: 10px;
    margin-bottom: 20px;
  }
  .del_modal .confirmation-content {
    font-size: 13px;
  }
  .del_modal .p-dialog-title {
    font-size: 16px;
  }
  .top_filter_wrap .customers_table_title {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .del_modal .confirmation-content {
    flex-direction: column;
    text-align: center;
  }
}
