$bgWhite: #fff;
$borderblue: #373aa5;
$borderColor: #e5ebf0;
$textYellow: #febe3a;
$textpurple: #8e7bf6;
$textblue: #41aeff;
$borderColor: #e5ebf0;
$textLightpurple: #bcc5ff;

.main_Wrapper {
    height: calc(100vh - 134px);
    overflow: hidden auto;  
    padding: 15px;
  }