.table_main_Wrapper {
    border: 1px solid $borderColor;
    border-radius: 15px;
    height: 100%;
    background: $bgWhite;
  }

  .top_filter_wrap {
    padding: 15px;
    border-bottom: 1px solid $borderColor;
    @media (max-width: 767px) {
      padding: 15px 10px;
    }
    .right_filter_wrapper {
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 7px 0;
        li {
          padding: 0 5px;
        }
      }
    }
  }

  .page_title {
    h3 {
      font-weight: 600;
      color: #000;
    }
  }


